body {
    
   
   
       text-align: center; 
    
    }
    button{
margin-top: 50px;
        width: 150px;
        height: 60px;
        background-color: black;
        color: aliceblue;
        font-size: 30px;
        border: 20px;
        border-radius: 30px;
    }
    button:hover {

        color: rgb(65, 61, 61);
    }
/* .bob{
    display: flex;
    justify-content: center;
    align-items: center;
}
   */